.H3fino {
    font-weight: lighter;
}

.CarteiraEstudante {
    color: white;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(11, 196, 247);
    border-radius: 10px;
    padding: 7px;
    width: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p {
    font-weight: bolder;
}

body {
    background-color: black;
}

.Identidade {
    display: flex;
    gap: 20px;
    align-items: center;

}

.Barra{
    border: 1px solid black;
    height: 40px;
    width: 1000px;
    background-color: rgb(52, 51, 51);
    
}


